@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* CSS reset */

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Custom styles */

:root {
  --background-color: 104,151,187;
  --background-color-secondary: rgb(44, 67, 88);
  --font-size-XL: calc(1rem + 0.5vw);
  --font-size-L: calc(0.875rem + 0.5vw);
  --font-size-ML: calc(0.75rem + 0.5vw);
  --font-size-M: calc(0.5rem + 0.5vw);
  --font-size-MS: calc(0.375rem + 0.5vw);
  --font-size-S: calc(0.25rem + 0.5vw);
  --icon-hover-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

body {
  position: relative;
  min-height: 100vh;
}

header {
  background-color: rgb(var(--background-color));
  height: 5.5vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.slogan {
  font-family: "Pacifico", serif;
  color: white;
  font-size: var(--font-size-L);
  text-align: right;
  margin-right: 1vw;
}

/* Aside styles */

aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15vw;
  
  background-color: rgba(var(--background-color), 0.75);
  padding: 8vh 0.75vw;
}

aside form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  padding-bottom: 0.5vw;
}

.new-list-input {
  width: 100%;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  border: 1px solid var(--background-color-secondary);
  border-radius: 15px;
  text-align: center;
  font-size: var(--font-size-MS);
}

.new-list-button {
  font-size: var(--font-size-S);
  color: white;
  padding: 0.25vw 1vw;
  border-radius: calc(var(--font-size-XL) / 1.5);
  border-color: transparent;
  background-color:  var(--background-color-secondary);
  transition: 0.15s;
  cursor: pointer;
}

.new-list-button:hover {
  box-shadow: 2px 2px 3px black;
}

aside h2 {
  font-size: var(--font-size-ML);
  font-weight: 600;
}

/* Main styles */

main {
  min-height: 94.5vh;
  background-color: rgba(var(--background-color), 0.4);
  margin-left: 15vw;
  padding: 0.75vw;
  overflow: auto;
}

.lists-container {
  width: fit-content;
  display: grid;
  column-gap: 0.75vw;
  grid-auto-flow: column;
}

.list {
  width: 300px;
  height: fit-content;
  background-color: rgba(var(--background-color), 0.3);
  border-radius: 15px;
  padding: 0.5vw 0.75vw;
}

.list-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list h2 {
  font-weight: 600;
  font-size: var(--font-size-M);
}

.delete-button {
  width: var(--font-size-L);
  height: var(--font-size-L);
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  border-radius: calc(var(--font-size-ML) / 2);
  transition: 0.15s;
  cursor: pointer;
}

.delete-button:hover {
  box-shadow: var(--icon-hover-shadow);
}

.list-body > * + * {
  margin-block-start: 0.55vw;
}

.todo {
  border-radius: 15px;
  padding: 0.5vw;
  box-shadow: 1px 1px 3px black;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.todo-name {
  color: black;
  background-color: rgba(239, 244, 248, 0.637);
  border-radius: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: var(--font-size-MS);
  font-weight: 600;
}

.todo-due-date {
  font-size: var(--font-size-S);
  font-weight: 600;
  color:rgba(0, 0, 0, 0.527);
}

.low {
  background-color: rgba(250, 235, 102, 0.815);
}

.medium{
  background-color: rgba(253, 166, 53, 0.87);
}

.high{
  background-color: rgba(252, 95, 67, 0.767);
}

.todo-details {
  font-size: var(--font-size-S);
}

.todo-buttons {
  width: fit-content;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 0.25vw;
}

.edit-button, .remove-todo-button {
  width: var(--font-size-L);
  height: var(--font-size-L);
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  border-radius: calc(var(--font-size-ML) / 2);
  transition: 0.15s;
  cursor: pointer;
}

.edit-button:hover, .remove-todo-button:hover {
  box-shadow: var(--icon-hover-shadow);
}

.new-todo-button {
  width: 100%;
  margin-top: 0.5vw;
  font-size: var(--font-size-S);

  color: white;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  border-radius: calc(var(--font-size-XL) / 1.5);
  border-color: transparent;
  background-color:  var(--background-color-secondary);
  transition: 0.15s;
  cursor: pointer;
}

.new-todo-button:hover {
  box-shadow: 2px 2px 3px black;
}
